<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h2 th:text="${boardDetail.title}">제목</h2>
    <p th:text="${boardDetail.name}">작성자</p>
    <p th:text="${boardDetail.contents}">내용</p>
    <p th:inline="text">작성일 : [[${#temporals.format(boardDetail.createdAt, 'yyyy-MM-dd HH:mm')}]]</p>
<!--    <p th:text="${#temporals.format(boardDetail.createdAt, 'yyyy-MM-dd HH:mm')}">작성시간</p>-->
    <p></p>
    <a th:href="@{/}">목록</a>
</body>
</html>